@import 'utilities.css';

:root{
    --primary:#3DCFD3;
    --secondary: #070606;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
}

html, body{
    scroll-behavior: smooth;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialised;
}

.container{
	max-width: 1152px;
	padding:0 15px;
    margin:0 auto;
	
}

@media(min-width: 576px){
    .container{
        max-width: 540px;
    }
}

@media(min-width: 768px){
    .container{
        max-width: 720px;
    }
}

@media(min-width: 992px){
    .container{
        max-width: 960px;
    }
}

@media(min-width: 1200px){
    .container{
        max-width: 1152px;
    }
}

header{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header .right a{
    text-decoration: none;
}

header nav .left a:hover{
    color: var(--primary);
}

body{
    font-family: "Poppins", sans-serif;
}

header nav{
    padding: 2rem 0;
}

header nav .branding{
    margin-right: 3rem;
}

.vivek{
    padding: 3rem 0;
}

.vivek .left img{
    width: 300px;
}

.vivek .right{
    color: var(--pure);
    margin-top: -7rem;
}

.vivek .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.vivek .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.vivek .right h1 span{
    color: var(--primary);
}

.vivek .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}

.vivek .right .btn a{
    text-decoration: none;
}

section.about{
    padding: 12rem 0;
}

section.about .about-me-image{
    height: 600px;
}

section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span{
    color: var(--primary);
}

section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
}

section .about .social{
    display: flex;
}

section.about .social a{
    margin-right: 0.6rem;
    border-radius: 50%;
}


section.social a img{
    width: 100%;
    height: 100%;
    padding: 0.2rem;
}

.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading span{
    color: var(--primary);
}

.section-heading +p{
    color: var(--ternary);
    font-family: "Lato", sans-serif;
    margin-bottom: 6rem;
    text-align: center;
}

section.specialization{
    padding: 14rem 0;
    background: var(--light);
}

section.specialization .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 6rem;
}

section.specialization .card-wrapper img{
    width: 100px;
}

section.specialization .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all .3s ease;
}

section.specialization .card-wrapper .card img{
    position:absolute;
    top:-3.5rem;
    left:50%;
    transform: translateX(-50%);
}

section.specialization .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.specialization .card-wrapper .card p{
    font-family: "Lato", sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}

section.specialization .card-wrapper .card:hover{
    background: var(--dark);
}

section.specialization .card-wrapper .card h2:hover, section.specialization .card-wrapper .card p:hover{
    color:var(--pure);
}



section.freelancer{
    padding: 10rem 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/camera.png);
    color: var(--pure);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 80%, 0 100%); */
    padding-bottom: 8rem;
}

section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

section.freelancer p{
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;
}


section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem;
}

section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
}
section.contact .card-wrapper .card a{
    text-decoration: none;
}
section.contact{
    padding: 5rem 0;
}
